---
import LawColumn from "./law/LawColumn.astro";
import LawGavel from "./law/LawGavel.astro";
import LawPen from "./law/LawPen.astro";
import LawScales from "./law/LawScales.astro";
---

<div class="site-parchment">
  <aside class="site-parchment__rail site-parchment__rail--left" aria-hidden="true">
    <div class="site-parchment__column">
      <LawColumn />
    </div>
    <div class="site-parchment__accent site-parchment__accent--gavel">
      <LawGavel />
    </div>
  </aside>

  <div class="site-parchment__sheet">
    <slot />
  </div>

  <aside class="site-parchment__rail site-parchment__rail--right" aria-hidden="true">
    <div class="site-parchment__column">
      <LawColumn />
    </div>
    <div class="site-parchment__accent site-parchment__accent--pen">
      <LawPen />
    </div>
    <div class="site-parchment__accent site-parchment__accent--scale">
      <LawScales />
    </div>
  </aside>
</div>
